---
import PrimaryLayout from '../layouts/PrimaryLayout.astro';
const title = 'FEM Blog with CMS';
---

<PrimaryLayout title="homepage">
  <h1>Hello World</h1>
  <!-- Header -->
  <!-- three-cols -->
  <!-- Featured article -->
  <!-- three-cols -->
  <!-- popular articles -->
</PrimaryLayout>
