<script>
  const navToggle = document.querySelector('[aria-controls="primary-nav"]');

  navToggle.addEventListener('click', () => {
    const navOpened = navToggle.getAttribute('aria-expanded');

    navOpened === 'false'
      ? navToggle.setAttribute('aria-expanded', 'true')
      : navToggle.setAttribute('aria-expanded', 'false');
  });
</script>

<header>
  <a href="#main-content" class="skip-to-main">Skip to main content</a>

  <h1 class="visually-hidden">The W.</h1>
  <a href="/" class="logo">
    <img src="/images/logo.svg" alt="" />
  </a>

  <button aria-controls="primary-nav" aria-expanded="false">
    <span class="visually-hidden">Menu</span>
    <img class="icon-hamburger" src="/images/icon-menu.svg" alt="" />
    <img class="icon-close" src="/images/icon-menu-close.svg" alt="" />
  </button>

  <nav id="primary-nav">
    <ul>
      <li><a href="/">homepage</a></li>
      <li><a href="#">New</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="#">Trending</a></li>
      <li><a href="#">Categories</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-block: clamp(1.5rem, 5vmax, 5rem) clamp(1.5rem, 5vmax, 2rem);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    color: currentColor;
    &:hover,
    &:focus-visible {
      color: var(--clr-accent-400);
    }
  }

  button {
    display: none;
    .icon-close {
      display: none;
    }
  }

  @media (width < 750px) {
    button {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      z-index: 10;
      right: 1rem;
      padding: 1rem;
      border: none;
      background: transparent;
    }
    nav {
      position: absolute;
      inset: 0;
      transform: translateX(100vh);

      transition: 500ms ease-in-out;
      a {
        opacity: 0;
        transition: 500ms ease-in-out;
      }
    }

    [aria-expanded='true'] {
      .icon-close {
        display: block;
      }
      .icon-hamburger {
        display: none;
      }
    }
    [aria-expanded='true'] + nav {
      display: block;
      position: absolute;
      /* inset: 0; */
      /* width: 80%; */
      margin-left: auto;

      z-index: 1;
      background-color: var(--clr-neutral-100);
      box-shadow: 0 0 0 1000vmax hsl(0 0 0 / 0.2);
      transform: translateX(30vw);
      a {
        opacity: 1;
      }
    }

    ul {
      margin-top: 20vh;
      margin-left: 3rem;
      display: grid;
      gap: 2rem;
      font-size: var(--fs-600);
    }

    a {
      color: var(--clr-neutral-900);

      &:hover,
      &:focus-visible {
        color: var(--clr-accent-400);
      }
    }
  }

  .skip-to-main {
    position: absolute;

    font-weight: var(--fw-bold);
    padding: 1em 3em;
    translate: -200%;

    &:hover,
    &:focus-visible {
      background: var(--clr-accent-400);
      color: var(--clr-neutral-900);
      translate: 0;
    }
  }
</style>
